.btn-width {
  width: auto;
  min-width: auto;
}
.mr-5 {
  margin-right: 5px;
}

.stark-form-img {
  width: 70px;
  height: 70px;
  margin-right: 2px;
}
.container1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

input.PhoneInputInput {
  border-width: 0;
  width: 100%;
}
input.PhoneInputInput:focus {
  outline: none;
  width: 100%;
}

.react-tel-input .stark-phone-input {
  width: 100%;
  font-size: 1rem;
  height: auto;
}

.form-label {
  width: 100%;
}

.rsd__select-container-month {
  padding: 3px !important;
}
.rsd__select-container-day {
  padding: 3px !important;
}
.rsd__select-container-year {
  padding: 3px !important;
}

.rsd__select-month {
  padding: 5px !important;
  background-color: #f3f1ee;
  border-radius: 3px;
  color: rgb(68, 68, 68);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

.rsd__select-day {
  padding: 5px !important;
  background-color: #f3f1ee;
  border-radius: 3px;
  color: rgb(68, 68, 68);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

.rsd__select-year {
  padding: 5px !important;
  background-color: #f3f1ee;
  border-radius: 3px;
  color: rgb(68, 68, 68);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
