@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-phone-input-2/lib/style.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


.btn-width {
    width: auto;
    min-width: auto;
}
.mr-5 {
    margin-right: 5px;
}

.stark-form-img {
    width: 70px;
    height: 70px;
    margin-right: 2px;
}
.container1 {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

input.PhoneInputInput {
    border-width: 0;
    width: 100%;
  }
  input.PhoneInputInput:focus {
    outline: none;
    width: 100%;
  }

.react-tel-input .stark-phone-input{
    width: 100%;
    font-size: 1rem;
    height: auto;
}

.form-label {
    width: 100%;
}
